/*css doc*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #636363;
	margin: 0;
}
/*universal left and right spacting*/
header{
	margin: 0 5vw;
	margin-top: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #636363;
}
h1{
	font-size: 2em;
	display: inline;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.5em;
}
p{
	font-size: 1em;
}

/*=================================Navigation============================================*/
/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	display: inline-block;
	float: right;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #636363;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 1.3em;
	margin-left: 8px;
	transition: 0.4s;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ededed;
	color: #080808;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	transition: 0.6s;
}

/* Add a color to the active/current link */
.topnav a.active {
	color: #ededed;
	background-color: none;
	cursor: default;
}
.topnav a.active:hover {
	background-color: #fefefe;
	color: #ededed;
	border-radius: 0;
}


/*=================================Main Content============================================*/
/* Style and place information on the main page */
main{
	margin: 0 5vw;
	margin-top: 5vh;
}
/* Style the left section with text copy inside */
.left-section{
	max-width: 300px;
	width: 30%;
	position: absolute;
	
}
/* Position the key for the map */
.right-section{
	position: absolute;
	max-width: 100px;
	right: 5vw;
	top: 50px;
	margin-top: 5vh;
	
}
/*need some media queries possibly*/
/* placement for the map of Ohio */
#chart{
	width: 800px;
	height: 800px;
	height: 350px;
	position: relative;
	left: 320px;
	top: 0;
}
/* placement for the time slider */
#slider{
	width: 800px;
	height: 100px;
	position: relative;
	left: 320px;
	top: 16px;
}



.slidecontainer {
  width: 940px;
  height: 15px;
  margin-right: 20px;
  margin-left: 16px;
}

.slider {
  -webkit-appearance: none;
  width: 920px;
  height: 1px;
  border-radius: 5px;
  background: #000000;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #181818;
	box-shadow: 1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fefefe;
	cursor: pointer;
}

.key path {
	display: none;
}

.key line {
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.dot {
	fill: #ffab00;
	stroke: #fff;
}

.xaxis{
	text-align: justify;
	text-anchor: middle;
	color: #000000;
	min-width: 908px;
	table-layout: fixed;
	display:table-cell;
}

.xaxis:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.xaxis li {
	display: inline-block;
}



/*=================================about page============================================*/

/* container for all information on about page */
.about-wrapper{
	margin: 0 auto;
	width: 100%;
	padding: 0 8px;
	max-width: 600px;
	margin-bottom: 50px;
}
.about-title{
	margin-top: 50px;
}
/* sub-container for information in profile section */
.profile{
	display: block;
	height: 230px;
	margin: 24px 0;
}
/* style the images in the profile section */
.profile > img{
	float: left;
	padding-right: 16px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
}
/* style the names in the profile section */
.profile > h3{
	margin: 0; 
}
.andy > h3{
	padding-top: 40px;
}
.jared > h3{
	padding-top: 10px;
}
/* style the copy text in the profile section */
.profile > p{
	
}






