/*css doc*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #363636;
	margin: 0;
}
/*universal left and right spacting*/
header{
	margin: 0 5vw;
	margin-top: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #363636;
	max-width: 1250px
}
h1{
	font-size: 2em;
	display: inline;
}
h2{
	font-size: 1.5em;
	-webkit-margin-before: 0.63em;
    -webkit-margin-after: 0.43em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1em;
}
p{
	font-size: 1em;
}

/*=================================Navigation============================================*/
/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	display: inline-block;
	float: right;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #545454;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 1.3em;
	margin-left: 8px;
	transition: 0.4s;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ededed;
	color: #080808;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	transition: 0.6s;
}

/* Add a color to the active/current link */
.topnav a.active {
	color: #aaaaaa;
	background-color: none;
	cursor: default;
}
.topnav a.active:hover {
	background-color: #fefefe;
	color: #aaaaaa;
	border-radius: 0;
}


/*=================================Main Content============================================*/
/* Style and place information on the main page */
main{
	margin: 0 5vw;
	margin-top: 3vh;
}
/* Style the left section with text copy inside */
.left-section{
	max-width: 300px;
	width: 30%;
	position: absolute;
	
}

/*need some media queries possibly*/
/*need some media queries for x overflow*/
/* placement for the map of Ohio */
#chart{
	width: 800px;
	height: 600px;
	position: relative;
	left: 420px;
	top: -60px;
}

.key-measurement{
	position: absolute;
	left: 1130px;
	top: 125px;
}

#linechart{
	width: 100%;
	height: 100px;
	position: relative;
	left: 23px;
	top: -150px;
}
/* placement for the time slider */
.slidecontainer{
	width: 100%;
	height: 100px;
	position: relative;
	left: 20px;

}



.slidecontainer {
  width: 940px;
  height: 15px;
  margin-right: 20px;
  margin-left: 16px;
}

.slider {
  -webkit-appearance: none;
  width: 940;
  height: 1px;
  border-radius: 5px;
  background: #545454;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fefefe;
	border: 2px solid #545454;
  cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: #fefefe;
	border: 2px solid #545454;
	cursor: pointer;
}

.key path {
	display: none;
}

.key line {
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: #545454;
	stroke-width: 2px;
}

.dot {
	fill: #ffab00;
	stroke: #fff;
}

.xaxis{
	text-align: justify;
	text-anchor: middle;
	color: #000000;
	min-width: 940px;
	padding-top: 10px;
	table-layout: fixed;
	display:table-cell;
	font-size: 1.1em;
	color: #545454;
}

.xaxis:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.xaxis li {
	display: inline-block;
}

#displaybox_year,
#displaybox_data{
	font-size: 1.7em;
}

#displaybox_year{
	position: relative;
	top: 400px;
}
#displaybox_data{
	position: relative;
	top: 400px;
}


/*=================================about page============================================*/

/* container for all information on about page */
.about-wrapper{
	margin: 0 auto;
	width: 100%;
	padding: 0 8px;
	max-width: 600px;
	margin-bottom: 50px;
}
.about-title{
	margin-top: 50px;
}
/* sub-container for information in profile section */
.profile{
	display: block;
	height: 230px;
	margin: 24px 0;
}
/* style the images in the profile section */
.profile > img{
	float: left;
	padding-right: 16px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
}
/* style the names in the profile section */
.profile > h3{
	margin: 0; 
}
.andy > h3{
	padding-top: 40px;
}
.jared > h3{
	padding-top: 10px;
}
.yihang > h3{
	padding-top: 40px;
}
.chengfei > h3{
	padding-top: 40px;
}
.xin > h3{
	padding-top: 70px;
}
/* style the copy text in the profile section */
.profile > p{
	
}

.selectrect{
	position: absolute;
	width: 200;
	height: 200;
	margin: 0;
	padding: 0;
	border: 1px dashed #eee;
	background-color: #aaa;
	z-index: 1000;
	opacity: 0.6;
	display: none;
}




